<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
<!-- 	student constructor resolving based on type -->
	<!-- <bean id="student" class="com.nit.bean.Student">
		<constructor-arg value="101" type="int" />
		<constructor-arg value="vikas" type="String" />
		<constructor-arg value="101.00" type="float" />
	</bean> -->
	
<!-- 	resolving identity based on index -->
	<!--  <bean id="markes" class="com.nit.bean.Markes">
		<constructor-arg value="30" index="0" />
		<constructor-arg value="40" index="2" />
		<constructor-arg value="50" index="1" />
	</bean> -->

<!-- 	resolving constructor param through name -->
	 <bean id="ft" class="com.nit.bean.Faculty">
		<constructor-arg value="101" name="id"/>
		<constructor-arg value="vikas" name="name"/>
		<constructor-arg value="java" name="subject"/>
	</bean>
</beans>
